<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

{#-
		Choices for CSS:

		1. External files (best with local dev server live reload)

		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/message-box.css">
		<link rel="stylesheet" href="/css/prism-okaidia.css">
		<link rel="stylesheet" href="/css/prism-diff.css">

		2. Inlined (fastest site performance in production)
#}
		<style>
		{% include "public/css/index.css" %}
		</style>
{#
		3. You could even swap between the two methods above using {% if eleventy.env.runMode === "serve" %}
		4. Concatenate CSS to one file (site performance is slower than 2 but faster than 1):
				https://www.11ty.dev/docs/quicktips/concatenate/
		5. Use a bundler
				e.g. Vite https://www.11ty.dev/docs/server-vite/
				Or search for additional community plugins for esbuild, rollup, webpack, etc.
#}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
	
			<a href="/" class="home-link"><h1>{{ metadata.title }}</h1></a>

			<div class="header-table">
				<div class="header-table--date">
					<h3>Date</h3>
					<p>2021-08-25</p>
					</div>
				<div class="header-table--table">
					<h3>Table</h3>
					<p>4</p>
				</div>
				<div class="header-table--guests">
					<h3>Guests</h3>
					<p>&nbsp;</p>
				</div>
				<div class="header-table--server">
					<h3>Server</h3>
					<p>SK</p>
				</div>				
				<div class="header-table--number">0825214</div>
			</div>
			<div class="header-marquee">
				<div class="header-marquee--inner">
				<p> &nbsp; APPT — SOUP/SAL — ENTREE — VEG/POT — DESSERT — BEV </p>
			</div>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
						<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
				<div class="header-table--number">0825214</div>
			</nav>
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
